:root {
    --color-bg-main: #fff;
    --color-bg-menu: rgb(244, 244, 244);
    --color-bg-aside: var(--color-bg-menu);

    --color-text: #1F2328;

    --color-outline: rgb(25, 89, 204);
}

html.dark-mode {
    --color-bg-main: #22272e;
    --color-bg-menu: #283340;
    --color-bg-aside: var(--color-bg-menu);

    --color-text: #adbac7;
}
