:root {
    --color-bg-main: #fff;
    --color-bg-menu: rgb(244, 244, 244);
    --color-bg-aside: var(--color-bg-menu);

    --color-text: #1F2328;

    --color-border: rgb(216, 222, 228);
    --color-border-hover: rgba(31,35,40,0.15);
    --color-border-active: rgba(31,35,40,0.15);
}

html.dark-mode {
    --color-bg-main: #22272e;
    --color-bg-menu: #283340;
    --color-bg-aside: var(--color-bg-menu);

    --color-text: #adbac7;

    --color-border: #373e47;
    --color-border-hover: #768390;
    --color-border-active: #636e7b;
}
