@import "./variables/index.scss";

html,
body {
    color: var(--color-text);
    background-color: var(--color-bg-main);
}

html,
body,
#app {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "Helvetica Neue", Arial, 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul li {
    list-style: none;
}
