:root {
  // indents
  --main-padding: 20px

  // sizes
  --full-size: 100%
  --header-height: 60px
  --sidebar-max-width: 250px
  --content-max-width: 700px
  --container-max-width: 1400px

  // colors
  --border-color: rgb(223, 231, 239)
}

*,
  *::before,
  *::after
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: sans-serif

  html,
  body,
  #app
    height: var(--full-size)

  #app
    font-family: Avenir, Helvetica, Arial, 'sans-serif'